.row info-boxes {
    display: inline-block;
    height: 20%;
    width: 80%;
    align-content: center;
    margin: 0 auto 0 auto;
}

.col-sm-4 {
    border-radius: 15%;
    position: relative;
    z-index: 1;
    margin: 2%;
    overflow: auto;
}

.col-sm-10 {
    margin: 0 auto;
    align-content: center;
}

.image {
    -webkit-filter: blur(0px);
    margin: 0 auto;
    width: 50%;
}

.modal-content  {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
}

.row adjectives {
    margin: 0 auto;
    width: 50%;
}

.carousel img {
    opacity: 0.2;
    display: block;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;

}

body {
    background-image: url("images/background-alt.png");
}

#adj {
    color: white;
    font-family: 'Cinzel', serif;
    text-align: center;
    margin: 5%;
}

#name {
    color: white;
    font-family: 'Old Standard TT', serif;
    font-size: 8rem;
    margin-left: 5%;
    border-bottom: solid white 1px;
}